.header {
  width: 100%;
  padding: 1rem 0;
  background: #0f0f0f;
  border-bottom: 1px solid #2f2f2f;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-container {
  width: 90%;
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ededed;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 1.05rem;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: white;
}

.nav-link:active {
  color: #4a90e2;
  border-bottom: 2px solid #4a90e2;
}

@media (max-width: 330px) {
  .logo,
  .nav-link {
    font-size: 0.95rem;
  }
}
